@page "/"
@using AllHands_1_27.Data
@inject WeatherForecastService ForecastService

<p>There are <strong>@_forecasts.Count()</strong> forecasts available.</p>


@code {
    private WeatherForecast[] _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}